.body{
    background-image: url('./Les\ adverbes.jpg');
      height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-size: cover;
    align-items: center;
    margin-top: -65px;
}
.text
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color:#b7cc9d;
    height: 350px;
    width: 800px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -250px;
}
.font
{
    font-size: 500px;
}